# example chrony config file from google (not from real centos aws machine, location - /etc/chrony.conf)

# Use public NTP servers from the pool.ntp.org project.

# Replace these with servers geographically closer or within your organization if available.

pool "{{ntp0}}" iburst
pool "{{ntp1}}" iburst
pool "{{ntp2}}" iburst
pool "{{ntp3}}" iburst

# Allow clients on the 192.168.1.0/24 subnet to query this server.

# Change this to match your local network.

allow 192.168.1.0/24

# This directive enables the chrony daemon to adjust the system clock.

# If you comment this out, chrony will only monitor the time.

makestep 1 3

# Specify the drift file location. This file stores the measured clock drift rate.

driftfile /var/lib/chrony/drift

# Specify the log file location and what to log.

logdir /var/log/chrony
log measurements statistics tracking

# This directive enables the NTP server to serve time to clients.

# If you only want the system to be a client, comment this out.

local stratum 10

# Save the system clock to the hardware clock on exit.

rtcsync

# Include configuration snippets from a directory.

# This can be useful for managing specific configurations separately.

# confdir /etc/chrony.d
